
body,h1{
	font-family: 'The Girl Next Door', cursive;
}

.topheader{
	margin-top: 20px;
	margin-bottom:15px;
}

#main {
	margin-top: 10px;
	margin-bottom: 75px;
}

#mainnav ul{
	background-color: white;
	color: black;
	border-radius: 15px
	}
#mainnav ul li a{
	color: black;
	font-size: 25px;
}

#mainnav ul li{
	display: inline;
	padding-right: 15px;
	padding-left: 15px;
	font-weight: bold;
}

#about, #contact {
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px;
	background-color: white;
	color:black;
	border-radius: 15px;
	font-size: 25px;
}

#photos  {
	margin-top: 50px;
	margin-bottom: 50px;
}

.photos {
	margin-top: 50px;
	margin-bottom: 50px;
}


#contact{
	margin: 20px;
}

#contacthead{
	text-align: center;
	font-size: 45px;
	margin-top: 25px;
	text-transform: uppercase;
	font-weight: bolder;

}
.divider1{
	background-color: #F0F0F0 ;
	padding:70px 0px;
	margin-bottom: 30px;
	box-shadow: 0px 10px 10px black;
}

.pics{
	border: 5px solid black;
	border-radius: 40px;
}

.divtext{
	text-align: center; 
	font-size: 45px;
	font-weight: bold;
}